@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply flex w-96 h-96 rounded-xl bg-systemGrey4 shadow-xl;
  }
  .defaultBtn {
    @apply bg-systemGrey5 rounded-xl p-2 text-systemDarkGrey font-semibold;
  }
}
:root {
  @apply bg-systemWhite text-systemBlack;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
