@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply flex w-96 h-96 rounded-xl bg-systemGrey4 shadow-xl;
  }
  .successBtn {
    @apply bg-systemGreen  px-10 py-5 rounded-full text-systemWhite font-semibold;
  }
  .modal {
    @apply fixed inset-0 bg-black bg-opacity-30 backdrop-blur-sm flex justify-center items-center z-[9998];
  }
  .modal-content {
    @apply gap-10 w-[600px] h-auto rounded-2xl bg-systemDarkGrey bg-opacity-70 text-white p-10;
  }
}
@layer base {
  input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5;
  }
  label {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  form {
    @apply space-y-4 md:space-y-6;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
:root {
  @apply bg-systemWhite text-systemBlack;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
